<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=title%></title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/style.css" />

        <script src="/js/script.js" defer></script>
    </head>
    <body>
        <div id="container">
            <div class="scrolling-banner">
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
            </div>

            <div id="slider-content">
                <% events.forEach(event => { %>
                <div
                    data-index="<%= event.index %>"
                    class="event <%= event.index == 0 ? 'active' : '' %>"
                >
                    <div class="event-info">
                        <h1><%= event.title %></h1>

                        <p><%= event.description %></p>
                    </div>

                    <% if (event.image) { %>

                    <img
                        src="<%= process.env.SUPABASE_URL %>/storage/v1/object/public/images/<%= event.image %>"
                        alt="<%= event.image %>"
                    />

                    <% } %>
                </div>
                <% }); %>
            </div>

            <div class="scrolling-banner">
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
                <span>MEDDELELSE</span>
            </div>
        </div>
    </body>
</html>
